## sprint-3-T05
### Eloi Canals

[x] Nivell 1. Exercici 1. Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

delfli = pd.read_csv('DelayedFlights.csv', index_col=0)

to_keep = ['Year','Month','DayofMonth','DayOfWeek','DepTime','ArrTime','UniqueCarrier','FlightNum','TailNum','ActualElapsedTime','AirTime','ArrDelay','DepDelay','Origin','Dest','Distance','Cancelled','Diverted','CarrierDelay','WeatherDelay']
mycols=delfli[to_keep]
mycols[:10]

/Users/ecanals/opt/anaconda3/lib/python3.8/site-packages/numpy/lib/arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted,CarrierDelay,WeatherDelay
0,2008,1,3,4,2003.0,2211.0,WN,335,N712SW,128.0,116.0,-14.0,8.0,IAD,TPA,810,0,0,NaN,NaN
1,2008,1,3,4,754.0,1002.0,WN,3231,N772SW,128.0,113.0,2.0,19.0,IAD,TPA,810,0,0,NaN,NaN
2,2008,1,3,4,628.0,804.0,WN,448,N428WN,96.0,76.0,14.0,8.0,IND,BWI,515,0,0,NaN,NaN
4,2008,1,3,4,1829.0,1959.0,WN,3920,N464WN,90.0,77.0,34.0,34.0,IND,BWI,515,0,0,2.0,0.0
5,2008,1,3,4,1940.0,2121.0,WN,378,N726SW,101.0,87.0,11.0,25.0,IND,JAX,688,0,0,NaN,NaN
6,2008,1,3,4,1937.0,2037.0,WN,509,N763SW,240.0,230.0,57.0,67.0,IND,LAS,1591,0,0,10.0,0.0
10,2008,1,3,4,706.0,916.0,WN,100,N690SW,130.0,106.0,1.0,6.0,IND,MCO,828,0,0,NaN,NaN
11,2008,1,3,4,1644.0,1845.0,WN,1333,N334SW,121.0,107.0,80.0,94.0,IND,MCO,828,0,0,8.0,0.0
15,2008,1,3,4,1029.0,1021.0,WN,2272,N263WN,52.0,37.0,11.0,9.0,IND,MDW,162,0,0,NaN,NaN
16,2008,1,3,4,1452.0,1640.0,WN,675,N286WN,228.0,213.0,15.0,27.0,IND,PHX,1489,0,0,3.0,0.0

[x] Nivell 1. Exercici 2. Informe Complet

### Resum estadistic per columnes

In [6]:
mycols.Month.value_counts()

12    203385
6     200914
3     200842
2     189534
1     183527
7     182945
8     162648
4     155264
5     153072
11    105563
10    103525
9      95539
Name: Month, dtype: int64

#### Nombre de retrasos acumulats per mes (Mostrant noms dels mesos)

In [7]:
Totals_x_month = mycols.Month.value_counts()


#Totals_x_month.index = ['Gener', 'Febrer', 'Març', 'Abril', 'Maig', 'Juny', 'Juliol', 'Agost', 'Septembre', 'Octubre', 'Novembre', 'Desembre']
Totals_x_month.index = Totals_x_month.index.map({1:'Gener', 2:'Febrer', 3:'Març', 4:'Abril', 5:'Maig', 6:'Juny', 7:'Juliol', 8:'Agost', 9:'Septembre', 10:'Octubre', 11:'Novembre', 12:'Desembre'})
Totals_x_month

Desembre     203385
Juny         200914
Març         200842
Febrer       189534
Gener        183527
Juliol       182945
Agost        162648
Abril        155264
Maig         153072
Novembre     105563
Octubre      103525
Septembre     95539
Name: Month, dtype: int64

#### Nombre de retrasos per Carrier (Mostrant el nom de la Aerolinia)

In [37]:
Totals_x_carrier = mycols.UniqueCarrier.value_counts()

carriers = pd.read_csv('AirlineCodesIATA.csv', index_col=0)

to_keep_c = ['Airline']
carriers_ok=carriers[to_keep_c]

# Borrar index duplicats
carriers_ok = carriers_ok[~carriers_ok.index.duplicated()]
newidx = carriers_ok.reindex()

myDic = carriers_ok.to_dict()


Totals_x_carrier.index = Totals_x_carrier.index.map(myDic['Airline'])

Totals_x_carrier

Southwest Airlines             377602
American Airlines              191865
American Eagle Airlines        141920
United Airlines                141426
SkyWest Airlines               132433
Delta Air Lines                114238
JSX (airline)                  103663
Continental Airlines           100195
US Airways                      98425
Atlantic Southeast Airlines     81877
Northwest Airlines              79108
Air Leap                        71284
Mesa Airlines                   67063
JetBlue Airways                 55315
Comair                          52657
Endeavor Air                    51885
Alaska Airlines, Inc.           39293
Frontier Airlines               28269
Hawaiian Airlines                7490
Aloha Airlines                    750
Name: UniqueCarrier, dtype: int64

### Columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)

In [35]:
avg_speed = mycols['Distance'] / ( mycols['AirTime'] / 60 )
#avg_speed.round(2)

mycols['AvgSpeed'] = avg_speed
mycols[:10]['AvgSpeed']

<ipython-input-35-5dc6a680279a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mycols['AvgSpeed'] = avg_speed

0     418.965517
1     430.088496
2     406.578947
4     401.298701
5     474.482759
6     415.043478
10    468.679245
11    464.299065
15    262.702703
16    419.436620
Name: AvgSpeed, dtype: float64

#### Columna nova: Vol amb retràs

In [5]:
print (mycols['ArrDelay'].values)

def check_late(row):
    if row['ArrDelay'] > 0:
        return True
    else:
        return False


mycols['FlightLate'] = mycols.apply(check_late, axis=1)


mycols

delayedFlights = mycols.FlightLate.value_counts()
delayedFlights

[-14.   2.  14. ...  99.   9.  -5.]

<ipython-input-5-d36e8857a31a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mycols['FlightLate'] = mycols.apply(check_late, axis=1)

True     1723415
False     213343
Name: FlightLate, dtype: int64

### Taula de les aerolínies amb més endarreriments acumulats

In [38]:
delayed_flights = mycols.loc[mycols['FlightLate'] == True ]

Delays_x_carrier = delayed_flights.UniqueCarrier.value_counts()


Delays_x_carrier.index = Delays_x_carrier.index.map(myDic['Airline'])

Delays_x_carrier

Southwest Airlines             324717
American Airlines              172197
American Eagle Airlines        130647
United Airlines                123989
SkyWest Airlines               121942
Delta Air Lines                100923
JSX (airline)                   94313
Continental Airlines            83646
US Airways                      83262
Atlantic Southeast Airlines     75170
Northwest Airlines              72395
Air Leap                        65008
Mesa Airlines                   63289
Comair                          49104
JetBlue Airways                 48177
Endeavor Air                    46896
Alaska Airlines, Inc.           34179
Frontier Airlines               25708
Hawaiian Airlines                7199
Aloha Airlines                    654
Name: UniqueCarrier, dtype: int64

### Vols més llargs? I els més endarrerits?

In [39]:
# Vols més llargs (TEMPS)

longest_flights = mycols.sort_values(by='AirTime',ascending=False)

longest_flights[:10]['AirTime']

5180146    1091.0
4614554     733.0
1139464     664.0
1742567     655.0
1742573     654.0
1742565     654.0
1742563     652.0
1742574     651.0
1140385     649.0
1142728     648.0
Name: AirTime, dtype: float64

In [127]:
# Vols més llargs (DISTANCIA)

largest_flights = mycols.sort_values(by='Distance',ascending=False)


selection_longest = largest_flights.loc[:10,['FlightNum', 'Origin', 'Dest', 'Distance']]
selection_longest

         FlightNum Origin Dest  Distance
4200196         14    HNL  EWR      4962
6979519         14    HNL  EWR      4962
2353671         15    EWR  HNL      4962
6982535         14    HNL  EWR      4962
566426          15    EWR  HNL      4962
...            ...    ...  ...       ...
358019         722    DAY  TPA       828
1229769       3140    MCO  IND       828
955089         394    MCO  IND       828
955005         397    IND  MCO       828
10             100    IND  MCO       828

[681868 rows x 4 columns]

#### Vols més endarrerits

In [23]:
# Vols més endarrerits. Diferencia entre sortida prevista i sortida real

longest_delays = mycols.sort_values(by='DepDelay',ascending=False)

longest_delays[:10]

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,DepDelay,Origin,Dest,Distance,Cancelled,Diverted,CarrierDelay,WeatherDelay,AvgSpeed,FlightLate
2235378,2008,4,10,4,724.0,858.0,NW,1699,N3324L,154.0,...,2467.0,CLT,MSP,930,0,0,2436.0,0.0,422.727273,True
1018798,2008,2,3,7,1117.0,2256.0,NW,808,N817NW,459.0,...,2457.0,HNL,MSP,3972,0,0,1455.0,0.0,545.354691,True
2832617,2008,5,6,2,2.0,254.0,NW,1107,N333NW,172.0,...,1952.0,RSW,DTW,1085,0,0,1951.0,0.0,448.965517,True
3387883,2008,6,20,5,2140.0,2252.0,MQ,3538,N512AE,72.0,...,1710.0,LIT,DFW,304,0,0,1707.0,0.0,364.800000,True
6857047,2008,12,19,5,1602.0,1921.0,NW,357,N366NW,259.0,...,1597.0,BOS,MSP,1124,0,0,1307.0,0.0,351.250000,True
5232546,2008,9,1,1,906.0,1048.0,NW,512,N322US,102.0,...,1552.0,OMA,MSP,282,0,0,1552.0,0.0,225.600000,True
2232494,2008,4,27,7,1818.0,1942.0,NW,1472,N8986E,84.0,...,1545.0,MOT,MSP,449,0,0,1542.0,0.0,427.619048,True
1705852,2008,3,8,6,1256.0,1627.0,AA,2093,N3CDAA,211.0,...,1521.0,LGA,MIA,1097,0,0,50.0,0.0,371.864407,True
4061361,2008,7,16,3,820.0,1325.0,NW,804,N596NW,185.0,...,1518.0,SEA,MSP,1399,0,0,1510.0,0.0,524.625000,True
1634129,2008,3,21,5,705.0,811.0,NW,1743,N786NC,66.0,...,1490.0,BNA,MEM,200,0,0,1490.0,0.0,255.319149,True

### Extra Ball

#### Total incidencies per dia de la setmana (mostrant el nom del dia)

In [25]:
# Totals per dia de la setmana

Totals_x_day = mycols.DayOfWeek.value_counts()

Totals_x_day.index = Totals_x_day.index.map({1:'Dilluns', 2:'Dimarts', 3:'Dimecres', 4:'Dijous', 5:'Divendres', 6:'Dissabte', 7:'Diumenge'})
Totals_x_day

Divendres    323259
Dilluns      290933
Dijous       289451
Diumenge     286111
Dimecres     262805
Dimarts      260943
Dissabte     223256
Name: DayOfWeek, dtype: int64